/.vscode
/assets - Copy
/assets.zip
/contact.html
/contact_us.html
/ct_index.html
/ct_script.js
/ct_styles.css
/domain_assets
/domain_assets.zip
/events.html
/ex.html
/executive.html
/executive_script.js
/executive_styles.css
/final